<%- include("partials/header") %> 

<div class="container">
    <div class="index_title-div">
        <div id="index_title-div-evan-div">
            <span>E</span>
            <span>v</span>
            <span>a</span>
            <span>n</span>
        </div>
        <div id="index_title-div-rathore-div" >
            <span>R</span>
            <span>a</span>
            <span>t</span>
            <span>h</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
        </div>
    </div>
    
</div>
<%- include("partials/footer") %> 