<%- include("partials/header") %> 

<div class="container main-container">
    <div class="index_title-div row">
        <div id="index_title-div-evan-div">
            <span class="name-initials">E</span>
            <span>v</span>
            <span>a</span>
            <span>n</span>
        </div>
        <div id="index_title-div-rathore-div">
            <span class="name-initials">R</span>
            <span>a</span>
            <span>t</span>
            <span>h</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
        </div>
    </div>

    <div class="index_about-me-div m-5">
        <span id="about-me-HelloThere">Hello There!</span>
        <span id="about-me-text">I'm Evan Rathore and I like to develop web applications! As of now, I'm a hobbyist web developer with 4 months of web dev experience (On my own). I haven't yet worked in a production environment but I'm open to commissions, which is what I plan to mainly work on. My interests include reading, coding and playing sports so you can expect me to do all of that and some more! I also plan on learning C++ in the near future so hopefully that'll be on my portfolio soon.</span>
    </div>
    
    <div class="row index_siteLinks-div">
        <h1 id="portfolio">PORTFOLIO</h1>
        <div class="row yelp-food-div">
            <div class="col p-2 px-4">
                <h1>Yelp Food</h1>
                <h4>A yelp-like clone web application but for food reviews.</h3>
                <h2>Functionality</h2>
                <ul>
                    <li>Display information about individual foods</li>
                    <li>Add Food Items</li>
                    <li>Add Reviews</li>
                    <li>Add Comments</li>
                    <li>Search (Genre and plain text)</li>
                    <li>Signup-Login Authentication</li>
                    <li>Voting</li>
                    <li>Save/Unsave Food Items</li>
                    <li>Edit/Delete Food Items</li>
                    <li>Flash Messages</li>
                    <li>RESTful routing</li>
                </ul>
            </div>
            <div class="col py-2">
                <h1>Technologies Used</h1>
                <ul>
                    <li>ECMAScript6 (ES6 JavaScript)</li>
                    <li>Node.js</li>
                    <li>Async/Await</li>
                    <li>NPM</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>FetchAPI</li>
                    <li>EJS</li>
                    <li>Heroku (For Hosting)</li>
                </ul>
            </div>
            <div class="col my-auto">
                <form action="https://yelp-food.herokuapp.com/" method="GET">
                    <div class="d-grid gap-2 my-5">
                        <button type="submit" class="btn btn-lg btn-light py-5"><h3>Go To Site!</h3></button>
                    </div>
                </form>
                <form action="https://www.github.com/LordPrimElo/yelp_food" method="GET">
                    <div class="d-grid gap-2 my-5">
                        <button type="submit" class="btn btn-lg btn-dark py-5"><h3>Go To Github!</h3></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="index_table-div">
        <div class="container">
            <div class="pt-4 tools-div">
                <h1 id="tools">Tools I Use</h1>
            </div>
            <div class="row first-row">
                <div class="col block" id="node-block"><img src="/img/Node.js_logo.svg"></div>
                <div class="col block" id="express-block"><img src="/img/expressjs-ar21.svg"></div>
                <div class="col hidden mx-3" id="npm-text"><span>NPM is an essential part to any web devlopers toolbelt, it allows me to use others' code and build on it to make even better web apps!</span></div>
                <div class="col hidden mx-3" id="mongodb-text"><span>MongoDB is a non-SQL and document based powerful database which allows me to retrive and store data efficiently.</span></div>
            </div>
            <div class="row second-row">
                <div class="col block" id="npm-block"><img class="npm" src="/img/Npm-logo.svg"></div>
                <div class="col block" id="mongodb-block"><img src="/img/mongodb-icon.svg"></div>
                <div class="col hidden mx-3" id="node-text"><span>NodeJS is what allows me to code both the frontend and backend of poweful web applications with just JavaScript seamlessly</span></div>
                <div class="col hidden mx-3" id="express-text"><span>ExpressJS is a framework which makes server-hosting with JavaScript possible and clutterless.</span></div>
            </div>
        </div>
    </div>

    <div class="index_form-div">
        <h1>Contact Me!</h1>
        <p>Have a question, proposal or an idea? Just wanna say hello? Go right ahead :)</p>
        <form action="/" method="POST">
            <div class="mb-3">
              <h5>Email Address</h5>
              <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="coolperson@yourawesome.com">
              <div type="email" id="emailHelp" class="form-text">I'll never share your email with anyone else. unless they pay me :) [FOR LEGAL REASONS, THIS IS A JOKE]</div>
            </div>
            <div class="mb-3">
                <h4>Text</h4>
                <textarea name="emailText" type="emailText" class="form-text p-3" rows="16" cols="200" placeholder="Let's make a website with cool stuff, like this and that and even that!"></textarea>
            </div>
            <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" class="btn btn-outline-light btn-lg">Send</button>
            </div>
          </form>
    </div>


    </div>
</div>
<div id="the-end">
    <h1 id="the-end-text">That's All Folks!</h1>
</div>

<script src="/js/index.js"></script>
<%- include("partials/footer") %> 