<%- include("partials/header") %> 

<div class="container">
    <div class="index_title-div row">
        <div id="index_title-div-evan-div">
            <span class="name-initials">E</span>
            <span>v</span>
            <span>a</span>
            <span>n</span>
        </div>
        <div id="index_title-div-rathore-div">
            <span class="name-initials">R</span>
            <span>a</span>
            <span>t</span>
            <span>h</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
        </div>
    </div>
    
    <div class="row index_siteLinks-div">
        <div class="row yelp-food-div">
            <div class="col p-2 px-4">
                <h1>Yelp Food</h1>
                <h4>A yelp-like clone web application but for food reviews.</h3>
                <h2>Functionality</h2>
                <ul>
                    <li>Display information about individual foods</li>
                    <li>Add Food Items</li>
                    <li>Add Reviews</li>
                    <li>Add Comments</li>
                    <li>Search (Genre and plain text)</li>
                    <li>Signup-Login Authentication</li>
                    <li>Voting</li>
                    <li>Save/Unsave Food Items</li>
                    <li>Edit/Delete Food Items</li>
                    <li>Flash Messages</li>
                    <li>RESTful routing</li>
                </ul>
            </div>
            <div class="col py-2">
                <h1>Technologies Used</h1>
                <ul>
                    <li>ECMAScript6 (ES6 JavaScript)</li>
                    <li>Node.js</li>
                    <li>NPM</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>FetchAPI</li>
                    <li>EJS</li>
                    <li>Heroku (For Hosting)</li>
                </ul>
            </div>
            <div class="col my-auto">
                <form action="https://yelp-food.herokuapp.com/" method="GET">
                    <div class="d-grid gap-2 my-5">
                        <button type="submit" class="btn btn-lg btn-light py-5"><h3>Go To Site!</h3></button>
                    </div>
                </form>
                <form action="https://www.github.com/LordPrimElo/yelp_food" method="GET">
                    <div class="d-grid gap-2 my-5">
                        <button type="submit" class="btn btn-lg btn-dark py-5"><h3>Go To Github!</h3></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="the-end">
    <h1 id="the-end-text">That's All Folks!</h1>
</div>
<%- include("partials/footer") %> 