body {
    background-color: black;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-flow: column;
    margin-bottom: 80%;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.index_title-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-top: 5%;
    width: 100%
}

#index_title-div-rathore-div {
    margin-top: -7vw;
}

.index_title-div span {
    transition: 0.25s;
    font-size: 15vw;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}

.index_title-div span:hover {
    color: rgb(180, 51, 255);
    font-weight: 700;
}

.index_title-div .name-initials {
    font-weight: 400;
    color: orange;
}

.index_title-div .name-initials:hover {
    color: skyblue;
}

.index_about-me-div {
    margin-top: 20vw !important;
    width: 100%;
    color: white;
    margin-left: 6%;
}

#about-me-HelloThere {
    font-size: 3rem;
    transition: 0.25s;
}

#about-me-HelloThere:hover {
    font-size: 4rem;
    color: orange;
}

#about-me-text {
    font-size: 2rem;
    margin-left: 1%;
    font-weight: 300;
}

.index_siteLinks-div {
    margin-top: 70%;
    min-height: fit-content;
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 70%;
}

#portfolio {
    font-size: 10vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yelp-food-div {
    background-color: orange;
    border: white 10px solid;
    display: flex;
    align-items: flex-start;
    color: #161616;
    transition: 0.5s;
}

.yelp-food-div:hover {
    background-color: rgb(180, 51, 255);
}

.yelp-food-div h1 {
    font-weight: 700;
    font-family: "Bebas Neue";
}

.yelp-food-div h2 {
    font-weight: 600;
    font-family: "Bebas Neue";
}

.yelp-food-div h3 {
    font-size: 3rem;
    font-family: "Bebas Neue";
}

.yelp-food-div h4 {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-weight: 400;
}

.yelp-food-div li {
    transition: 0.5s;
    line-break: strict;
    font-family: "Josefin Sans";
    font-weight: 500;
    line-height: 200%;
}

.yelp-food-div li:hover {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

.index_table-div {
    width: 100%;
    min-height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: solid 10px orange;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;    
}

.index_table-div span {
    font-size: 2rem;
}

.index_table-div .second-row {
    height: 50%;
}

.index_table-div .col {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 2rem;
    min-height:  18vw !important;
    max-height: 18vw;
    text-align: center;
}

.index_table-div img {
    height: 60%;
    transition: 0.25s;
    max-width: 120%;
}

.index_table-div img:hover {
    height: 70%;
}

.npm {
    max-height: 40%;
}

.npm:hover {
    max-height: 50%;
}

.tools-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tools {
    font-size: 5rem;
    transition: 0.25s;
    margin: 5%;
    color: white;
}

.index_form-div {
    margin-top: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    transition: 0.5s !important;
    width: 90%;
}

.index_form-div h1 {
    text-align: center;
    font-size: 4rem;
}

.index_form-div p {
    text-align: center;
    color: rgb(245, 198, 255);
}

.index_form-div input {
    background-color: rgb(216, 168, 255);
    transition: 0.5s !important;
    
}

.index_form-div input:focus {
    background-color: lightblue;
}

.index_form-div input:hover {
    background-color: orange;
}

.index_form-div textarea {
    background-color: rgb(183, 114, 240);
    color: black;
    transition: 0.5s !important;
    font-size: large;
    border-radius: 1rem;
    border: solid 10px white;
    max-width: 100%;
    min-width: 80%;
    
}

.index_form-div textarea:focus {
    background-color: rgb(98, 161, 255);
}

.index_form-div textarea:hover {
    background-color: rgb(98, 161, 255);
}


#emailHelp {
    color: white;
}

#the-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 100% !important;
}

#the-end-text {
    transition: 0.5s;
    font-family: "Josefin Sans";
    color: white;
    font-size: 4rem;
    margin: 2%;
}

#the-end-text:hover {
    font-size: 7rem;
    color: orange;
}

#the-end:nth-child(2) {
    color: white;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 790px) {

    .yelp-food-div {
        margin-left: 1%;
        flex-direction: column;
    }

    .yelp-food-div col {
        margin-top: 2% !important;
    }

    .yelp-food-div h1 {
        font-size: 2rem;
    }

    .index_table-div .col {
        min-height:  50vw !important;
        max-height: 50vw;
    }

    .index_table-div img {
        height: 25%;
        transition: 0.25s;
        max-width: 120%;
    }
    
    .index_table-div img:hover {
        height: 30%;
    }
    
    .npm {
        max-height: 15%;
    }
    
    .npm:hover {
        max-height: 22%;
    }

    #tools {
        font-size: 3rem;
    }

    #the-end-text {
        font-size: 2rem;
    }
    
    #the-end-text:hover {
        font-size: 4rem;
        color: orange;
    }
}