body {
    background-color: black;
}

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-flow: column;
    margin-bottom: 80%;
}

.index_title-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-top: 5%;
}

#index_title-div-rathore-div {
    margin-top: -7rem;
}

.index_title-div span {
    transition: 0.25s;
    font-size: 15vw;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}

.index_title-div span:hover {
    color: rgb(180, 51, 255);
    font-weight: 700;
}

.index_title-div .name-initials {
    font-weight: 400;
    color: orange;
}

.index_title-div .name-initials:hover {
    color: skyblue;
}

.index_siteLinks-div {
    margin-top: 70%;
    min-height: fit-content;
    min-width: 100%;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    margin-bottom: 70%;
}

.yelp-food-div {
    background-color: orange;
    border: white 10px solid;
    display: flex;
    align-items: flex-start;
    color: #161616;
    transition: 0.5s;
}

.yelp-food-div:hover {
    background-color: rgb(180, 51, 255);
}

.yelp-food-div h1 {
    font-weight: 700;
}

.yelp-food-div h2 {
    font-weight: 600;
}

.yelp-food-div h3 {
    font-size: 3rem;
}

.yelp-food-div h4 {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-weight: 400;
}

.yelp-food-div li {
    transition: 0.5s;
    line-break: strict;
    font-family: "Josefin Sans";
    font-weight: 500;
    line-height: 200%;
}

.yelp-food-div li:hover {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

.index_table-div {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: solid 10px orange;
}

.index_table-div .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_table-div img {
    height: 60%;
}

#the-end {
    display: flex;
    justify-content: center;
    height: 100%;

}

#the-end-text {
    transition: 0.5s;
    font-family: "Josefin Sans";
    color: white;
    font-size: 5rem;
}

#the-end-text:hover {
    font-size: 7rem;
    color: orange;
}